<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>APP WEB HTML</h1>
    
    <form action="/dados" method="post">
        <h5>Nome:</h5>
        <input type="text" id="nome" name="nome">
        <h5>Telefone:</h5>
        <input type="text" id="telefone" name="telefone">
        <input type="submit" value="Enviar">
    </form>

</body>
</html>